<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <button type="submit" class="btn pd-btn btn-outline-primary">Add To Cart</button>
</form>