<%- include('includes/head.ejs') -%>

<body>
    <%- include('includes/nav.ejs') -%>
    <main>
        <h1>Internal error :(</h1>
        <h3>We're working on it.</h3>
    </main>

</body>

</html>